.sudoku {
	display: inline-block;
}
.board {
	text-align:center;
	width: 1em;
	height: 1em;
	border-top: 1px solid;
	border-bottom:1px solid;
	border-left:1px solid;
	border-right: 1px solid;
	padding: 0.3em;
}
.cell{
	float:left;
	margin: 0px;
	width: 1em;
	height: 1em; 
	border-bottom:1px solid;
	border-left:1px solid;
	padding: 0.3em;
}
.dividerT {
	border-top:2px solid;
	border-left:1px solid;
}
.dividerL {
	border-bottom:1px solid;
	border-left:2px solid;
}
#content .button {
	font-size: 1.3em;
	cursor: pointer;
	overflow: hidden;
	background: #CCC;
	color: #000;
	border-radius: 2px;
	padding: 0.10em .25em;
	border: 1px solid transparent;
}
#content .button:hover {
	border-color: rgba( 0, 0, 0, 0.85 );
	background: #777;
}
.center {
	padding-top: .5em;
	float: center;
	text-align: center;
}

