.title
	#titleImg
		img(src="/img/me.png")
	#titleText
		h2 Chris Jeakle
		#titleInfo
			| A Michigan Grad and Microsoft Employee
			br
			| Interested in Machine Learning (and Other Cool Problems)
.filler

