extends template
		
block append moreScripts
	<meta name="description" content="About this site and how to contact me" />
	title
		|Chris Jeakle | About
block append content
	#content(style = "width:100%")
		div
			h3 About
			h5 Contact:
			a(href = 'mailto:cjjeakle@umich.edu')
				|Email Me
			br
			br
			h5 More Info:
			li
				|This site was made with the help of the 
				a(href = "https://github.com/michiganhackers/heroku-py-demo", target = '_blank') Michigan Hackers.
			li
				|To simplify the design process I used Zurb's
				a(href = 'http://foundation.zurb.com/', target = '_blank') Foundation web framework.
			li
				|You can see the implementation on
				a(href = "https://github.com/cjjeakle/Resume-Site", target = '_blank') my GitHub.
			br
			|&copy 2014 Chris Jeakle
block append rightEdge
	.row
		|&nbsp;
