extends template

block append moreScripts
	<meta name="description" content="The classes at U of M that I have taken or will take" />
	title
		|Chris Jeakle | Education

block append content
	#content
		div
			h3 Education
			h5 Undergrad
			ul
				li B.S., High Honors in Computer Science
				li University of Michigan - Ann Arbor
				li Relevant Classes:
					ul
						li EECS 183: Elementary Programming Concepts
						li EECS 203: Discrete Mathematics
						li EECS 280: Programming & Data Structures
						li EECS 281: Data Structures & Algorithms
						li EECS 370: Computer Architecture
						li EECS 376: Foundations of Computer Science
						li EECS 381: Object-Oriented and Advanced Programming
						li EECS 443: Senior Thesis Course (Honors)
							ul
								li Recieved High Honors for my work on 
									a(href="https://github.com/cjjeakle/nouncaptcha", target="_Blank") nouncaptcha.
						li EECS 481: Software Engineering
						li EECS 482: Introduction to Operating Systems
						li EECS 484: Database Management Systems
						li EECS 499: Directed Study
							ul
								li Worked on 
									a(href="https://github.com/cjjeakle/Maze-and-Blue", target = "_Blank") 
										|a video game 
									|to assist children with Autism Spectrum Disorder (ASD). This project was started during EECS 482.
block append rightEdge
	|&nbsp;
	
