extends template

block append moreScripts
	<meta name="description" content="Christopher Jeakle's web page. Check out what I am up to and the things I am working on." />
	title
		|Chris Jeakle | Home
block append content
	#content
		div
			h3 Welcome to my Website!
			h5 About Me:
			li
				|I am studying Computer Science at the University of Michigan.
			li
				|Right now my focus is on honing fundamental skills with classes like EECS 381
				|and EECS 482. I am also getting involved with research through my 
				|senior thesis on 
				a(href = 'https://github.com/cjjeakle/nouncaptcha', target = '_Blank')
					| a CAPTCHA variant.
			li
				|I began this site in my spare time while my housemates and I were between internet providers.
				|Now I update the site from time to time to showcase things I am up to and stuff I am working on.
			h5 How I spent my Summer:
			li 
				|Working on a
				a(href = 'https://github.com/cjjeakle/Maze-and-Blue', target = '_Blank') video game named "Maze and Blue", 
				|which my group started in EECS 481. The game is designed to help children with 
				|Autism Spectrum Disorder (ASD) improve coordination and communication skills.
			li
				|Working on some personal projects, just for fun (such as this site!)
			li
				|Working full time as an intern at Thomson Reuters.
			h5 Want to find out more or see my resume?
			Li
				|Head over to the 
				a(href = '/about') about page 
				|and send me an email.

block append rightEdge
	|&nbsp;
				
				
				
				
				
				
				
				
				
				
				
				
				
		
		
				
