extends template

block append moreScripts
	<meta name="description" content="Christopher Jeakle's web page. Check out what I am up to and the things I am working on." />
	title
		|Chris Jeakle | Home
block append content
	#content
		div
			h3 Welcome to my Website!
			|Hello there, I'm Chris Jeakle. I recently graduated from the University of Michigan and am working as an SDE at Microsoft.
			br
			h5 About Me:
			li
				|I enjoy tennis, video games, hiking, and especially learning.
			li
				|I only recently moved to the Pacific Northwest, and I am already loving the climate, culture and people.
			h5 What I'm Up To:
			li
				|Right now I am getting up to speed with my team at Microsoft.
			li
				|I am also working my way through 
				a(href="https://coursera.org/learn/machine-learning", target="_Blank")
					|Machine Learning  
				|on Coursera.
			h5 Want to find out more?
			Li
				|Head over to the 
				a(href = '/about') about page 
				|and send me an email.

block append rightEdge
	|&nbsp;
				
				
				
				
				
				
				
				
				
				
				
				
				
		
		
				
