extends template

block append content
	#content
		h3 Welcome to my Website!
		h4 Who am I?
		li
			|I am Chris Jeakle.
		li
			|As the header to my site proclaims: I am a Computer Science Student at the University 
			|of Michigan who is working at an internship with Thomson Reuters this summer
		h4 What am I up to this summer?
		li 
			|Pursuing a directed study where I work on a
			a(href = 'https://github.com/cjjeakle/Maze-and-Blue', target = '_Blank') video game called "Maze and Blue", 
			|which is intended to assist children with Autism Spectrum Disorder (ASD)
		li
			|Working on some personal projects just for fun (such as this site!)
		li
			|Working full time as a programming intern at Thomson Reuters
		h4 Want to hire me full time when I graduate (or you want to know more about me)?
		li
			|Thats awesome! I want to work full time!
			br
			|&nbsp;&nbsp;&nbsp;Head over to the 
			a(href = '/about') about page 
			|and send me an email
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		
		
				
