!!! 5
html(lang="en")
	include /head
	body
		include /titlebar
		.container
			include /navbar
			#content
				div
					|This will be content!
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		
		
				
