extends template

block append moreScripts
	<meta name="description" content="The classes at U of M that I have taken or will take" />
	title
		|Chris Jeakle | My Classes

block append content
	#content
		div
			h3 My Classes
			i = 0
			each title in titles
				h5
					=title
				each class in classes[i]
					!=class
					br
				i = i + 1
block append rightEdge
	|&nbsp;
	
