extends template

block append content
	#content
		div
			h3 My Classes
			h4 In the Fall I will Take:
			each class in myEnrollment
				= class
				br
			
			h4 I Plan to Take:
			each class in myFutureClasses
				= class
				br
				
			h4 I Have Completed:
			each class in myClasses
				= class
				br

