extends template

block append moreScripts
	<link rel="stylesheet" href="css/sudoku.css">
	<meta name="description" content="Chris Jeakle's web page. Check out what I am up to and the things I am working on." />
	title
		|Chris Jeakle | Ping-Pong

block append content
	#content 
		h3 Ping-Pong
		div(style = 'font-size: 90%; line-height: 125%;')
			p
				|Use the up and down arrow keys or the mouse to control the left paddle
				br
				|(Touch device users should be able to tap where they want the paddle to move)
		div(id = 'pingPong', style = 'display:inline-block;')
			script(src="js/requestNextAnimationFrame.js", type='text/javascript')
			script(src="js/pingPong.js", type='text/javascript')
		div(style = 'width = 500px;').center
			a(href = 'javascript:initPingPong();', id = 'playBtn', style = 'display:inherit;').btn.hidden Play!
			|&nbsp
			a(href = 'javascript:setPingPongDifficulty(&quot;easy&quot;);', style = 'display:none;').btn.hidden Easy
			|&nbsp
			a(href = 'javascript:setPingPongDifficulty(&quot;medium&quot;);', style = 'display:none;').btn.hidden Medium
			|&nbsp
			a(href = 'javascript:setPingPongDifficulty(&quot;hard&quot;);', style = 'display:none;').btn.hidden Hard
			|&nbsp;
			a(href = 'javascript:pausePingPong();', style = 'display:none;', id = 'pauseBtn').btn.hidden Pause
			br
			div(style = 'display:none', id = 'resetNotification')
				|Reset to apply difficulty changes
		br
		a(href = 'https://github.com/cjjeakle/Resume-Site/blob/master/public/js/pingPong.js', target = '_blank')
			|Check out the implementation on my github

block append rightEdge
	|&nbsp;
			
