extends template

block append moreScripts
	title
		|Chris Jeakle | Pong!

block append content
	#content
		div(id = 'pong') 
			h3 Pong!
			h5 use the up and down arrow keys to control
			script(src="js/pong.js", type='text/javascript')

block append rightEdge
	|&nbsp;
			
