extends template

block append moreScripts
	<link rel="stylesheet" href="css/sudoku.css">
	title
		|Chris Jeakle | Pong

block append content
	#content 
		h3 Pong
		h5 use the up and down arrow keys to control
		div(style = 'display:inline-block;')
			div(id = 'pong')
				script(src="js/pong.js", type='text/javascript')
				a(href = 'javascript:initPong();', style = 'text-align: center;').btn.center Play!

block append rightEdge
	|&nbsp;
			
