extends template

block append moreScripts
	<link rel="stylesheet" href="css/button.css">
block append content
	#content
		h3 Solve Sudokus
		|Note that you can get the previous board state by using the back button
		br
		div.sudoku
			form(action = url, method=post, id = 'sudokuBoard')
				br
				//create the sudoku board for i/o
				i = 0
				table(cellspacing = '0', cellpadding = '0').table
					for row in boardNames
						j = 0
						tr
							for col in row
								td
									val = ''
									if (board[i][j] != 0)
										val = board[i][j]
									class = 'cell'
									if (i % 3 == 0 and i > 0)
										class = class + ' boldT'
									if (j % 3 == 0 and j > 0)
										class = class + ' boldL'
									if (i == 8)
										class = class + ' plainB'
									if (j == 8)
										class = class + ' plainR'
									input(type = 'text', name = col, id = col, size = 1, maxlength = '1', value = val, class = class).board
								j = j + 1
						i = i + 1
			//to make the buttons look similar, I had to make both into stylized hyperlinks
			div.center
				a(href='javascript:document.getElementById(\'sudokuBoard\').submit()').button.center
						|&nbsp;Solve
				|&nbsp;&nbsp;&nbsp;&nbsp;
				a(href = '/sudokusolver').button.center
						|&nbsp;Clear&nbsp;
		br
		!=annotation
		br
		a(href = 'https://github.com/cjjeakle/Resume-Site/blob/master/sudokuSolver.py')
			|Check out the algorithm on my github
		
		
		
		
		
				

