extends template

block append moreScripts
	script(src='js/sudoku.js', type='text/javascript')
		
		


block append content
	#content
		form(action = url, method=post)
			//the sudoku board input
			i = 0
			for row in boardNames
				i = i + 1
				j = 0
				for col in row
					val = ''
					if (board[i - 1][j] != 0)
						val = board[i - 1][j]
					input(type = 'text', name = col, id = col, size = 1, maxlength = '1', value = val)
					j = j + 1
					if (j % 3 == 0)
						|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				br
				if (i % 3 == 0)
					br
			input(type='submit', text = 'SOLVE!')
		br
		!=annotation
		
		
		
		
		
				

