extends template

block append moreScripts
	<link rel="stylesheet" href="css/sudoku.css">
	script(src="js/sudokuSolver.js", type='text/javascript')
	<meta name="description" content="A javascript sudoku solver" />
	title
		|Chris Jeakle | Sudoku Solver
block append content
	#content
		h3 Solve Sudokus
		div( style = 'font-size: 90%; line-height: 125%;')
			p
				| Sudokus of any difficulty from sites like 
				a(href = 'http://www.websudoku.com/', target = '_blank') websudoku.com 
				| should be solved very quickly. 
			p
				|Be aware that there exist worst case inputs that will be slow. 
				| Also, there are some small bugs I am still addressing where certain inputs raise an exception.
				br
				br
				a(href = 'javascript:loadBoard(easyExample)') Try this "easy" difficulty example
				br
				a(href = 'javascript:loadBoard(evilExample)') Or try this "evil" difficulty example
		div.sudoku
			.sudokuBoard
				//create the sudoku board for i/o
				i = 0
				table(cellspacing = '0', cellpadding = '0').table
					//boardNames is a 9x9 grid of unique identifiers for the squares.
					//My local copy of pyjade doesnt play nice with string and int concatination, 
					//so I had to generate this name grid on the server.
					for row in boardNames
						j = 0
						tr
							for col in row
								class = 'cell'
								if (i % 3 == 0 and i > 0)
									class = class + ' boldT'
								if (j % 3 == 0 and j > 0)
									class = class + ' boldL'
								if (i == 8)
									class = class + ' plainB'
								if (j == 8)
									class = class + ' plainR'
								td(class = class)
									input(type = 'text', name = col, id = col, size = 1, maxlength = '1', value = '', autocomplete = 'off').board
								j = j + 1
						i = i + 1
			div.center
				a(href='javascript:attemptSolve()').btn.center
						|&nbsp;Solve
				|&nbsp;&nbsp;&nbsp;&nbsp;
				a(href = 'javascript:clearBoard()').btn.center
						|&nbsp;Clear&nbsp;
		br
		div(id = 'sudokuInfo')
				br
		|View source to see the JS that drives this.
		br
		|Previous iterations of my solver are in  
		a(href = 'https://github.com/cjjeakle/Resume-Site/blob/master/SudokuSolver.py/', target = '_blank')
			|Python 
		|and 
		a(href = 'https://github.com/cjjeakle/Sudoku-Solver/', target = '_blank')
			|C++.
block append rightEdge
	|&nbsp;
		
		
		
		
		
				

