!!! 5
html(lang="en")
	head
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		include includes/head
		block moreScripts
	body
		|&nbsp;
		br
		div(class = 'row')
			div.hide-for-small.large-3.column
				|&nbsp;
			div.large-7.small-12.column
				include includes/titlebar
			div.hide-for-small.large-2.column
		div(class = 'row')
			.container
				.hide-for-small.large-3.columns
					include includes/navbar
				.show-for-small.small-12.columns
					br
					include includes/navbar
					br
				.large-7.small-12.columns
					block content
				.large-2.small-12.columns
					block rightEdge	
		div(class = 'row')
			br
			br
			br
			br
			|&nbsp;
