!!! 5
html(lang="en")
	head
		include includes/head
		block moreScripts
	body
		|&nbsp;
		br
		div(class = 'row')
			include includes/titlebar
		div(class = 'row')
			.container
				.show-for-large
					.large-2.columns
						include includes/navbar
				.show-for-small
					.small-12
						.show-for-small
							br
						include includes/navbar
						.show-for-small
							br
								|&nbsp;
				.large-7.small-12.columns
					block content
				.large-3.small-12.columns
					block rightEdge	
		div(class = 'row')
			br
			br
			br
			br
			br
			br
			|&nbsp;
