!!! 5
html(lang="en")
	head
		include includes/head
		block moreScripts
	body
		|&nbsp;
		br
		div(class = 'row')
			include includes/titlebar
		div(class = 'row')
			.container
				div(class = 'large-2 columns')
					include includes/navbar
				div(class = 'large-7 columns')
					block content
				#rightEdge
					block rightEdge	
		div(class = 'row')
			br
			br
			br
			br
			br
			br
			|&nbsp;
