.title
	#titleImg
		img(src="/img/me.jpg")
	#titleText
		h1.title Chris Jeakle
		| A Computer Science Student at
		a(href = "http://www.umich.edu") the University of Michigan
		br
		|  and Intern at Thomson Reutuers
.filler
